
.papertitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-size: var(--text-xlarge);
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.hero-section {
  width: 100%;
  display: flex;
  gap: 2.5%;
  flex-wrap: wrap;
}

.hero-content {
  flex: 1;
  min-width: 250px;
  padding: 2.5%;
}

.hero-image {
  flex: 0 0 40%;
  padding: 2.5%;
}

.hero-image img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.section-header {
  padding: 20px;
}

.miscellaneous-section {
  width: 100%;
}

.footer-section {
  padding: 20px;
  text-align: right;
  font-size: small;
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
  }

  .hero-image {
    flex: 1;
    width: 100%;
  }
}